

<% if user_signed_in? && current_user.admin? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.email %>
        <% unless user.admin? %>
          <%= link_to 'Make Admin', set_admin_user_path(user), data: {turbo_method: :patch} %>
        <% else %>
          <%= link_to 'Remove Admin', remove_admin_user_path(user), data: {turbo_method: :patch} %>
        <% end %>
      </li>
    <% end %>
 </ul>
<% end %>